@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image-section {
    background-image: url('./landing2.png'); /* Update with your image path */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
}

.custom-flex-height {
    height: auto; /* Default height for mobile */
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 768px) {
    .custom-flex-height {
        height: 80vh; /* Height for desktop */
    }
}

.button-hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .button-hover-effect:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }