@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image-section {
    background-image: url('./landing2.png'); /* Update with your image path */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
}