@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-flex-height {
    height: auto; /* Default height for mobile */
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 768px) {
    .custom-flex-height {
        height: 70vh; /* Height for desktop */
    }
}

.button-hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .button-hover-effect:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

@media screen and (max-width: 600px) { /* Adjust the width according to your breakpoint */
.hide-on-mobile {
    display: none;
}
}